USE [CWCS]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CWCS_CATEGORY]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CWCS_CATEGORY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORY_NAME] [nvarchar](50) NOT NULL,
	[PARENT_ID] [int] NULL,
	[NAV_URL] [nvarchar](500) NULL,
 CONSTRAINT [PK_CWCS_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CWCS_USER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CWCS_USER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_NAME] [nvarchar](50) NOT NULL,
	[NICK_NAME] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](50) NULL,
	[MOBILE] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[COMMENTS] [nvarchar](500) NULL,
 CONSTRAINT [PK_CWCS_USERS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CWCS_ROLE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CWCS_ROLE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLE_NAME] [nvarchar](50) NOT NULL,
	[PERMISSION] [nvarchar](max) NULL,
 CONSTRAINT [PK_CWCS_ROLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CWCS_ROLE_USER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CWCS_ROLE_USER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLE_ID] [int] NOT NULL,
	[USER_ID] [int] NOT NULL,
 CONSTRAINT [PK_CWCS_ROLE_USER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
